<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <!--wykorzystanie z helpera url.content by generował odpowiednie linki-->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (0)
                <span></span>
            </a>
            <a id="indexHeaderLogo" href="link">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>

    <!--renderowanie zawartosci innych stron czyli widok-->
    <div>
        @RenderBody()
    </div>


    <footer>
        <nav>
            <ul>
                <li><a href="link">O nas</a></li>
                <li><a href="link">Społeczność</a></li>
                <li><a href="link">Opinie</a></li>
                <li><a href="link">Pomoc</a></li>
                <li><a href="link">Regulamin</a></li>
                <li><a href="link">Kontakt</a></li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2016 P. Kursy
        </div>
    </footer>
                <!-- Sekcja scripts niewymagana-->
    @RenderSection("Scripts", required:false)


</body>
</html>
