@model Cukiernia.Models.Produkt
@using Cukiernia.Infrastructure

@{
    ViewBag.Title = "Szczegoly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
   @Html.Action("KategorieMenu")
    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>
        <section id="SekcjaProdukt">
            <div id="ProduktLewa">
                <img src="@Url.ObrazkiSciezka(Model.NazwaPlikuObrazka)" />
            </div>
            <div id="ProduktPrawa">
                <div id="ProduktNazwa">
                    <h1>
                       @Model.TytulProdukt
                    </h1>
                    <h2>
                       @Model.AutorProdukt
                    </h2>
                </div>
                <div id="ProduktCena">
                    <div>
                       @string.Format("{0:0.##}", Model.CenaProdukt)<span>PLN</span>
                    </div>
                    <a href="@Url.Action("DodajDoKoszyka","Kozyk",new { id = Model.ProduktId })"></a>
                </div>
                <div id="ProduktOpis">
                    @Model.OpisProdukt
                </div>
                <div id="ProduktInfo">
                    @Model.OpisSkrocony
                </div>

            </div>
        </section>
    </div>
</div>