@model Cukiernia.ViewModels.EditProduktViewModel
@{
    ViewBag.Title = "DodajProdukt";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<hr />
<h2 class="manageHeader">Edycja produktu</h2>
<div>
   @if (Model.Potwierdzenie.HasValue && Model.Potwierdzenie.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }
    @using (@Html.BeginForm("DodajProdukt", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {  //można przesyłać pliki
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>
        @Html.HiddenFor(o => o.Produkt.ProduktId)
        @Html.HiddenFor(o => o.Produkt.DataDodania)
        @Html.HiddenFor(o => o.Produkt.NazwaPlikuObrazka)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.AutorProdukt, "Autor:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.AutorProdukt)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.AutorProdukt)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.TytulProdukt, "Produkt:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.TytulProdukt)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.TytulProdukt)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.OpisProdukt, "Opis:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.OpisProdukt)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.OpisProdukt)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.OpisSkrocony, "Opis skrócony:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.OpisSkrocony)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.OpisSkrocony)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Kategorie, "Kategoria:")</td>
                    <td>@Html.DropDownListFor(m => m.Produkt.KategoriaId, new SelectList(Model.Kategorie, "KategoriaId", "NazwaKategorii", Model.Kategorie.First().KategoriaId))</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.CenaProdukt, "Cena:")</td>
                    <td>@Html.TextBoxFor(o => o.Produkt.CenaProdukt)</td>
                    <td>@Html.ValidationMessageFor(o => o.Produkt.CenaProdukt)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Produkt.Bestseller, "Bestseller:")</td>
                    <td>@Html.CheckBoxFor(o => o.Produkt.Bestseller)</td>
                    <td></td>
                </tr>
                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">
                            <div class="upload">
                                <input type="file" name="file" />
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td style="text-align: left">
                        @if (ViewBag.EditMode)
                        {
                            if (Model.Produkt.Ukryty)
                            {
                                <a href="@Url.Action("PokazProdukt", "Manage", new { produktId = Model.Produkt.ProduktId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("UkryjProdukt", "Manage", new { produktId = Model.Produkt.ProduktId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }
                    </td>

                    <td style="text-align: right;">
                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>
