@model Cukiernia.ViewModels.HomeViewModel
@using Cukiernia.Infrastructure  <!--by byly widoczne helpery-->

<!--Odwolujemy sie do skladni Razor
    Sciezka do konkretnego loyautu -->
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
<!--tite przekazywany do leyautu-->
@{
    ViewBag.Title = "Cukiernia";
}




<!--------------RenderBody()---------->




<nav class="kategorieHorizontal">

    <ul>
        <!--pobieramy kategorie z modelu i wygennerujemy kod-->
        @foreach (var kategoria in Model.Kategorie)
            {
            <li>
                <!--By sprawdzic czy zostaly naprawde wygenerowane dynamicznie kategoriee mozena zainstalowac modul do glimpsa by sprawdzic czy są wykorzystywane zapytania sql . Glimpse.EF6  (8) -->
                <!--Helper URl przenosi do :metody List kontrolera Produkty, przekazujemy parametr nazwaKategori-->
                <a href="@Url.Action("Lista","Produkty", new { nazwaKategori = kategoria.NazwaKategorii.ToLower() })"
                   style="background-image: url(@Url.IkonyKategoriiSciezka(kategoria.NazwaPlikuIkony) ">
                    @kategoria.NazwaKategorii
                </a>
            </li>
        }
    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" style="    width: -webkit-fill-available;margin: 5% 0px 5% 0px;" />
    </a>
</nav>


    <section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach ( var bestseller in Model.Bestsellery)
        { 
        <li>
            <article>
                <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk",new { id = bestseller.ProduktId })">
                    <img src="../Content/Images/koszyk.png" />
                </a>
                <a class="produktSzczegolyLink" href="@Url.Action("Szczegoly","Produkty",new  { id = bestseller.ProduktId })" >
                    <div class="bestsellerFlag"></div>
                    <img class="kurs" src="@Url.ObrazkiSciezka(bestseller.NazwaPlikuObrazka)" />
                    <h1>
                        @bestseller.TytulProdukt - @bestseller.AutorProdukt
                    </h1>
                </a>
            </article>
        </li>
        }
    </ul>
</section>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach (var nowosc in Model.Nowosci)
            {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka","Koszyk",new { id = nowosc.ProduktId }) ">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="produktSzczegolyLink" href="@Url.Action("Szczegoly","Produkty", new { id = nowosc.ProduktId })" >
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiSciezka(nowosc.NazwaPlikuObrazka)" />
                        <h1>
                            @nowosc.TytulProdukt - @nowosc.AutorProdukt
                        </h1>
                    </a>
                </article>
            </li>
            }

        </ul>
    </section>
    
